* {
  margin: 0;
  padding: 0;
}

ol {
  list-style-position: inside;
}

body {
  background-color: white;
  justify-content: center;
  align-items: center;
  border-top: 5px solid;
  border-color: blueviolet;
}

#titlebar {
  padding: 35px;
  text-align: center;
}

.content {
  padding: 35px;
}

.content_titlebar {
  height: 70px;
  border-bottom: 2px solid lightgray;
}

.content_chunk {
  padding-top: 35px;
  padding-bottom: 35px;
  flex: 1;
}

.content_box {
  display: flex;
}

.content_app {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.content_chunktitlebar {
  height: 70px;
  border-bottom: 2px solid lightgray;
  margin-left: 17.5px;
  margin-right: 17.5px;
  margin-bottom: 35px;
  text-align: center;
}

#planets {
  position: absolute;
}

.content_poetry {
  font-size: 24px;
  text-align: center;
}

.content_textpadding {
  padding-bottom: 1.2em;
}

.content_img {
  width: 30dvw;
}

.content_imgholder {
  display: flex;
  justify-content: center;
}
